<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--nameplace只能其接口，对其实现-->
<mapper namespace="com.lhy.booklend.book.mapper.BuyMapper">
    <!--查询所有书目-->
    <select id="findAll" resultType="com.lhy.booklend.book.entity.Booklist">
        select * from booklist
    </select>
    <select id="findByIsbn" resultType="String">
        select ISBN from booklist
    </select>
    <select id="findByPublic" resultType="com.lhy.booklend.book.entity.Booklist">
        select * from booklist where bPublic=#{bPublic}
    </select>
</mapper>
